@model NoovinData.Models.Domin.User

@using CaptchaMvc
@using CaptchaMvc.HtmlHelpers
@{
    ViewBag.Title = "صفحه ورود";
    Layout = "~/Views/Shared/_MainHome.cshtml";
}
<link href="~/Content/_css/alert.css" rel="stylesheet" />
<section id="register">
    <div class="container">
        <div class="inner">
            <div class="services_part">
                <h1 class="separator page_title">بازیابی رمز عبور</h1>
                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger">
                        <a class="close" style="cursor:pointer;" onclick="$('.alert').hide()">×</a>
                        @ViewBag.Error
                    </div>
                }
                <div class="user_account_box">
                    <div>
                        <form novalidate="novalidate" id="frm_login" method="post" action="~/Register/ForgotPassword">

                            <p class="item">
                                <span class="i-user"></span>
                                <input id="username" name="emailusername" class="ltr" placeholder="نام کاربری / ایمیل" type="text">
                            </p>
                            
                           
                                <div id="contact_form">

                                    @Html.Captcha("بازنگری کد امنیتی", "", 4, "")

                                </div>
                            <p class="item">
                                <input type="submit" name='go_register' value="بازیابی رمز عبور" class="threed_button">
                            </p>
                        </form>
                    </div>
                </div><!--end user_account_box-->
            </div><!--close div.services_part-->
        </div>
    </div>
    </section>

    <style>
        .alert-success {
            color: #3C763D;
            background-color: #DFF0D8;
            border-color: #D6E9C6;
        }

        .alert-dismissable, .alert-dismissible {
            padding-right: 35px;
        }

        .alert {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
            text-align: center;
            width: 70%;
            margin-right: 150px;
        }

        * {
            box-sizing: border-box;
        }

        .alert-info {
            color: #31708F;
            background-color: #D9EDF7;
            border-color: #BCE8F1;
        }

        .alert-warning {
            color: #8A6D3B;
            background-color: #FCF8E3;
            border-color: #FAEBCC;
        }

        .alert-danger {
            color: #A94442;
            background-color: #F2DEDE;
            border-color: #EBCCD1;
        }
    </style>

