@model NoovinData.Models.Domin.User

@{
    ViewBag.Title = "تغیر رمز ";
    Layout = "~/Views/Shared/_Profile.cshtml";
}
<link href="~/Content/_css/alert.css" rel="stylesheet" />


            <div class="part_left">
                <h1 class="separator page_title">تغیر رمز عبور</h1>
                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger">
                        <a class="close" style="cursor:pointer;" onclick="$('.alert').hide()">×</a>
                        @ViewBag.Error
                    </div>
                }
                <div class="user_account_box">
                    <div>
                        <form novalidate="novalidate" id="frm_login2" method="post" action="~/Profile/ChangePassword">

                            <p class="item">
                                <span class="i-lock"></span>
                                <input id="passwordold" class="ltr" name="passwordold" placeholder="کلمه عبور فعلی" type="password">
                            </p>

                            <p class="item">
                                <span class="i-lock"></span>
                                <input id="passwordnew" class="ltr" name="passwordnew" placeholder="کلمه عبور جدید" type="password">
                            </p>

                            <p class="item"><input value="تغیر رمز" name="go_change" type="submit"></p>

                        </form>
                    </div>                

                </div><!--end user_account_box-->
            </div><!--close div.services_part-->
       
<style>
    .alert-success {
        color: #3C763D;
        background-color: #DFF0D8;
        border-color: #D6E9C6;
    }

    .alert-dismissable, .alert-dismissible {
        padding-right: 35px;
    }

    .alert {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
        text-align: center;
        width: 70%;
        margin-right: 150px;
    }

    * {
        box-sizing: border-box;
    }

    .alert-info {
        color: #31708F;
        background-color: #D9EDF7;
        border-color: #BCE8F1;
    }

    .alert-warning {
        color: #8A6D3B;
        background-color: #FCF8E3;
        border-color: #FAEBCC;
    }

    .alert-danger {
        color: #A94442;
        background-color: #F2DEDE;
        border-color: #EBCCD1;
    }
</style>

